@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    ul, ol {
        list-style: s;
        list-style-position: inside;
    }
}
@font-face {
    font-family: BuenosAires;
    src: url("/fonts/buenosairesweb-regular.woff2");
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: BuenosAires-bold;
    src: url("/fonts//buenosairesweb-bold.woff2");
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: BuenosAires-semibold;
    src: url("/fonts//buenosairesweb-semibold.woff2");
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: BuenosAires-thin;
    src: url("/fonts//buenosairesweb-thin.woff2s");
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    border: 1px solid black;
    margin: 5px;
}
body {
    font-family: BuenosAires;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
}

table {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    table-layout: fixed;
}

tr {
    border-bottom: 1px solid black;
}
td {
    padding: 5px;
    border-right: 1px solid black;
    padding: 5px;
}

.btn-coloured {
    height: 33.2px;
    min-width: 160px;
    line-height: 19.2px;
    text-align: center;
    background: #284cd4;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.btn-coloured:hover {
    background: #0433e2;
    color: white;
}

.btn-coloured:disabled {
    opacity: 50%;
}
.btn-text {
    font-weight: 600;
    width: min-content;
    font-size: 16px;
    line-height: 31.2px;
    text-align: center;
    color: #ff7361;
    border: 1px solid #ff7361;
    border-radius: 4px;
    cursor: pointer;
}

@media print {
    body {
        visibility: hidden;
    }
    .section-to-print {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
}
