@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: BuenosAires;
    src: url("/fonts/buenosairesweb-regular.woff2");
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: BuenosAires-bold;
    src: url("/fonts//buenosairesweb-bold.woff2");
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: BuenosAires-semibold;
    src: url("/fonts//buenosairesweb-semibold.woff2");
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: BuenosAires-thin;
    src: url("/fonts//buenosairesweb-thin.woff2s");
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: BuenosAires;
}

h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 54.6px;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 50.4px;
}

h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 31.2px;
}

h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
}
h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
}

nav {
    position: fixed;
    z-index: 1000;
    background: #6c48f0;
    display: flex;
    padding: 26px;
    gap: 32px;
    width: 100vw;
    align-items: center;
    @apply text-white
}

.btn-coloured {
    height: 48px;
    min-width: 160px;
    line-height: 19.2px;
    text-align: center;
    background: linear-gradient(#ff6a56, #fdaf4d);
    border-radius: 8px;
    box-shadow: 0px 8px 30px 0px #0a021733;
    background: linear-gradient(to right, #ff6a56, #fdaf4d);
}

.btn-coloured:hover {
    background: linear-gradient(to right,#fdaf4d, #ff6a56);
}

.btn-black-lined {
    font-weight: 600;
    height: 48px;
    min-width: 160px;
    line-height: 19.2px;
    text-align: center;
    color: #0e1b2c;
    border-radius: 8px;
    box-shadow: 0px 8px 30px 0px #0a021733;

    :hover {
        color: #ffffff;
        background-color: #0e1b2c;
    }
}

.btn-white-lined {
    font-weight: 600;
    height: 48px;
    min-width: 160px;
    line-height: 19.2px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;

    :hover {
        color: #ff7361;
        background-color: #ffffff;
    }
}

.btn-orange-lined {
    font-weight: 600;
    height: 48px;
    min-width: 160px;
    line-height: 19.2px;
    text-align: center;
    color: #ff7361;
    border: 1px solid #ff7361;
    border-radius: 8px;
}

.btn-text {
    font-weight: 600;
    width: min-content;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    color: #ff7361;
    border: 1px solid #ff7361;
    border-radius: 8px;
}

.btn-icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply bg-text-white  border-text-dark text-text-dark
    
}
.btn-icon svg {
    transition: stroke 0.3s ease;
    stroke: theme("colors.current"); /* Change to desired color */
}

.btn-icon:hover svg {
    stroke: theme('colors.white'); /* Change to desired hover color */
}
.btn-icon:disabled {
    opacity: 0.5;
}
.btn-icon:hover {
    @apply bg-text-dark  border-text-dark text-text-white
}

.dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.rectangle-bottom-overlay {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.rectangle-bottom-overlay::after {
    position: absolute;
    width: 160px;
    content: "";
    height: 23px;
    background: #805eff;
    bottom: 0;
    z-index: -1;
}

.basic-flex-container {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container-service-cards {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.tickmark {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    @apply shadow-card
}

.tickmark svg {
    height: 17.5px;
    width: 17.5px;
}
